<a href="https://colab.research.google.com/github/ligsid/comput_math_MIPT/blob/master/differentiation_equations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Лабораторная работа №3
#### Метод Рунге-Кутты решения задачи Коши для обыкновенных дифференциальных уравнений первого порядка


Задание №13
<br> Метод Рунге-Кутты 4 - го порядка точности: $ x \in (1, 2), \varepsilon = 10^{-4} $
<br> $ \begin{equation*}
 \begin{cases}
   (y - x^2)y'_{x} = x\\
   y(1) = 1,5
 \end{cases}
\end{equation*} $

In [ ]:
import numpy as np
import pandas as pd

##### 1. Напишем классический 4-стайдиный метод Рунге-Кутты четвертого порядка точности

In [ ]:
def f(x, y):
  return x/(y - x**2)
def f1(x, y, h):
  return f(x, y)
def f2(x, y, h):
  return f(x + h/2, y + h/2*f1(x,y, h))
def f3(x, y, h):
  return f(x + h/2, y + h/2*f2(x, y, h))
def f4(x, y, h):
  return f(x + h, y + h*f3(x, y, h))

In [ ]:
def runge(x0, y0, n, x_in, x_fin): # функция принимать начальныйе условия y(x0) = y0
  x = [x0]                         # количество точек n и отрезок (x_in, x_fin)
  y = [y0]
  h = (x_fin - x_in)/n
  for i in range(n+1):
    if (i != 0):
      x.append(x[0] + i*h)
    yi = y[i] + h/6*(f1(x[i], y[i], h) + 2*f2(x[i], y[i], h) + 2*f3(x[i], y[i], h) + f4(x[i], y[i], h))
    y.append(yi)
  return x, y

#### 2. Выведем вычисленные значения для 20 и 10 точек

In [ ]:
x1, y1 = runge(1, 1.5, 20, 1, 2) # x в отрезке (1, 2), количество точек 20, y(1) = 1.5
for i in range(20):
  x1[i] = round(x1[i], 4)
  y1[i] = round(y1[i], 4)
data1 = pd.DataFrame((x1, y1), index=['x1', 'y1']).dropna(axis=1)
data1

     0       1     2       3     4   ...    16      17    18      19       20
x1  1.0  1.0500  1.10  1.1500  1.20  ...  1.80  1.8500  1.90  1.9500  2.00000
y1  1.5  1.6025  1.71  1.8225  1.94  ...  3.74  3.9225  4.11  4.3025  4.50001

[2 rows x 21 columns]

In [ ]:
x2, y2 = runge(1, 1.5, 10, 1, 2) # x в отрезке (1, 2), количество точек 10, y(1) = 1.5
for i in range(10):
  x2[i] = round(x2[i], 4)
  y2[i] = round(y2[i], 4)
data2 = pd.DataFrame((x2, y2), index=['x2', 'y2']).dropna(axis=1)
data2

     0     1     2       3       4   ...      6       7       8       9         10
x2  1.0  1.10  1.20  1.3000  1.4000  ...  1.6000  1.7000  1.8000  1.9000  2.000000
y2  1.5  1.71  1.94  2.1901  2.4601  ...  3.0601  3.3901  3.7402  4.1102  4.500196

[2 rows x 11 columns]

#### 3. Посчитаем погрешность используя норму: $$ \| y^{(2h)} - y^{(h)} \| = \max \limits_{i \in [1, n]} | y_{i}^{(2h)} - y_{i}^{(h)} |$$

In [ ]:
def runge_error(runge1, runge2):
  x1, y1 = runge1
  x2, y2 = runge2
  error = []
  for i in range(len(x1)):
    for j in range(len(x2)):
      if(x1[i] == x2[j]):
        error.append(abs(y1[i] - y2[j]))
  return max(np.array(error)/15)

In [ ]:
runge_h = runge(1, 1.5, 20, 1, 2)
runge_2h = runge(1, 1.5, 10, 1, 2)
print('Погрешность между 10 и 20 точками:' , round(runge_error(runge_h, runge_2h), 7))

Погрешность между 10 и 20 точками: 1.24e-05